/* hide auto-injected site title link */
.markdown-body > h1 > a[href*="github.io/portfolio"] {
  display: none;
}

/* page background + default text */
body {
  background-color: #1B1B1B;
  color: #8aa3bc;
}

/* link details */
a:link    { color: #8abca0; }
a:visited { color: #938abc; }
a:hover   { color: #8abcbb; }
a { text-decoration: underline; }

/* style headlines */

.markdown-body h1,
.markdown-body h2 {
  border-bottom: none;
  padding-bottom: 0;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: #839bb3;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  color:#7c93a9;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  color: #758ba0;
}

h4 {
  font-family: "Times New Roman", Times, serif;
  color: #6e8296
  ;
}

h5 {
  font-family: "Times New Roman", Times, serif;
  color: #687a8d;
}

.markdown-body h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffe4e1 !important;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}


/* ——————————————— */
/* main page banner and image grid */

/* full-width banner */
.banner {
  width: 100%;
  background-color: #001225;
  border-bottom: 1px solid #526778;
  padding: 1.25rem 1rem;
  margin: 0 0 1rem 0;
}

/* always 2x2 grid, fluid, centered */
.grid-2x2 {
  --card-w: 38%;
  --card-h: calc(var(--card-w) * 1.4); /* 3.5 / 2.5 */

  display: grid;
  grid-template-columns: repeat(2, var(--card-w));
  grid-template-rows: repeat(2, var(--card-h));
  gap: 1em;

  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.grid-2x2 a,
.grid-2x2 img {
  width: 100%;
  height: 100%;
  display: block;
}

.grid-2x2 img {
  object-fit: cover;
  border-radius: 0.8em;
}


.grid-2x2 a,
.grid-2x2 img {
  width: 100%;
  height: 100%;
  display: block;
}

.grid-2x2 img {
  object-fit: cover;      /* crops to fill the 2.5x3.5 frame */
  border-radius: 10px;
}


