/* hide auto-injected site title link */
.markdown-body > h1 > a[href*="github.io/portfolio"] {
  display: none;
}

/* page background + default text */
body {
  background-color: #1B1B1B;
  color: #8aa3bc;
}

/* link colors */
a:link    { color: #8abca0; }
a:visited { color: #938abc; }
a:hover   { color: #8abcbb; }

/* style headlines */
h1 {
  font-family: "Times New Roman", Times, serif;
  color: #839bb3;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  color:#7c93a9;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  color: #758ba0;
}

h4 {
  font-family: "Times New Roman", Times, serif;
  color: #6e8296
  ;
}

h5 {
  font-family: "Times New Roman", Times, serif;
  color: #687a8d;
}

.markdown-body h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffe4e1;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}