/* hide auto-injected site title link */
.markdown-body > h1 > a[href*="github.io/portfolio"] {
  display: none;
}

/* style headlines */
h1 {
  font-family: "Times New Roman", Times, serif;
  color: lightskyblue;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: lightcoral;
}