/* hide auto-injected site title link */
.markdown-body > h1 > a[href*="github.io/portfolio"] {
  display: none;
}

/* page background + default text */
body {
  background-color: #260d60;
  color: #ffeec1;
}

/* link colors */
a:link    { color: #e78f9a; }
a:visited { color: #e78f9a; }
a:hover   { color: #ffffff; }

/* style headlines */
h1 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(90, 10, 147);
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: lightcoral;
}