/* hide auto-injected site title link */
.markdown-body > h1 > a[href*="github.io/portfolio"] {
  display: none;
}

/* page background + default text */
body {
  background-color: #1B1B1B;
  color: #8aa3bc;
}

/* link colors */
a:link    { color: #8ab2bc; }
a:visited { color: #938abc; }
a:hover   { color: #a5b1bd; }

/* style headlines */
h1 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(90, 10, 147);
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: lightcoral;
}